@use 'colors' as c;

.loader-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$transparent;
  z-index: 1053;
  position: fixed;
}
